@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar email";
}

<div class="w3l-login-form">
    <h2>@ViewData["Title"]</h2>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>