@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

    <div class="w3l-login-form">
        <header>
            <h1>@ViewData["Title"]</h1>
            <p>Você se desconectou com sucesso.</p>
        </header>
    </div>

