@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de redefinição de senha";
}

    <div class="w3l-login-form">
        <h2>@ViewData["Title"]</h2>
        <p>
            Sua senha foi redefinida. Por favor <a asp-page="./Login">clique aqui para efetuar o login</a>.
        </p>
    </div>