@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generate two-factor authentication (2FA) recovery codes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Guarde esses códigos em um local seguro.</strong>
    </p>
    <p>
        If you lose your device and don't have the recovery codes you will lose access to your account.
    </p>
    <p>
        A geração de novos códigos de recuperação não altera as chaves usadas nos aplicativos autenticadores. Se você deseja alterar a chave usada em um aplicativo autenticador, você deve <a asp-page="./ResetAuthenticator">redefina suas chaves do autenticador.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Gerar códigos de recuperação</button>
    </form>
</div>