@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Página não Encontrada</p>
        <p class="text-gray-500 mb-0">Parece que você encontrou algo que não deveria ser encontrado...</p>
        <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Index">Voltar para o mundo seguro!</a>
    </div>

</div>
