@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    <div class="text-center">
        <p class="lead text-gray-800 mb-5">Condições de Privacidade de Dados</p>
        <p class="text-gray-500 mb-0">Dados como email e senha salvos no site nunca serão compartilhados com ninguém, você está seguro.</p>
        <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Index">Voltar para Home</a>
    </div>

</div>
