@model Filme

@{
    ViewData["Title"] = "Tipos do Filme";
}
<!--Modal TipoFilme-->
<div class="modal fade bd-example-modal-lg" id="ShowModalTF" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectTF">Selecione o(s) Tipo(s) do Filme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 form-group">
                    <fieldset>
                        <legend><b>Tipos</b></legend>
                        <table id="tableModalTF" class="checkbox" border="0">

                            @foreach (var tipoFilme in ViewBag._ListaTipos)
                            {
                                <tr>
                                    <td>
                                        <span id="@tipoFilme.Id" val="@tipoFilme.NomeTipoFilme">
                                            <input id="cbxTF_@tipoFilme.Id" type="checkbox" name="cbxTF" value="@tipoFilme.Id" />
                                            <label for="cbxTF_@tipoFilme.Id">@tipoFilme.NomeTipoFilme</label>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </table>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="tipoSave" onclick="ArmazenarTipos()" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>


