@model CineManager.Models.Sessao

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Sessao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Duracao_Sessao" class="control-label"></label>
                <input asp-for="Duracao_Sessao" class="form-control" />
                <span asp-validation-for="Duracao_Sessao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filme" class="control-label"></label>
                <select asp-for="FilmeId" asp-items="@(new SelectList(ViewBag.ListaFilmes, "Id", "Titulo"))" class="form-control"></select>
                <span asp-validation-for="Filme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sala" class="control-label"></label>
                <select asp-for="SalaId" asp-items="@(new SelectList(ViewBag.ListaSalas, "Id", "Id"))" class="form-control"></select>
                <span asp-validation-for="Sala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
