@model CineManager.Models.Funcionario

@{
    ViewData["Title"] = "Create";
}



@*<script src="~/js/consultaCep.js"></script>*@
@*<script src="~/lib/jquery/dist/jquery.js"></script>*@



<h1>Criar</h1>

<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeCompleto" class="control-label"></label>
                <input asp-for="NomeCompleto" class="form-control" />
                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
            </div>

            @*ENDERECO*@
            <div class="form-group row ">
                <div class="col-lg-2">
                    <label asp-for="Endereco.TipoLogradouro" class="control-label"></label>
                    <input asp-for="Endereco.TipoLogradouro" class="form-control" />
                    <span asp-validation-for="Endereco.TipoLogradouro" class="text-danger"></span>
                </div>
                <div class="col-lg-6">
                    <label asp-for="Endereco.NomeLogradouro" class="control-label"></label>
                    <input asp-for="Endereco.NomeLogradouro" class="form-control" />
                    <span asp-validation-for="Endereco.NomeLogradouro" class="text-danger"></span>
                </div>
                <div class="col-lg-2">
                    <label asp-for="Endereco.Numero" class="control-label"></label>
                    <input asp-for="Endereco.Numero" class="form-control" />
                    <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
                </div>
                <div class="col-lg-2">
                    <label asp-for="Endereco.Complemento" class="control-label"></label>
                    <input asp-for="Endereco.Complemento" class="form-control" />
                    <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-3">
                    <label asp-for="Endereco.Cep" class="control-label"></label>
                    <input name="cep" asp-for="Endereco.Cep" class="form-control" />
                    <span asp-validation-for="Endereco.Cep" class="text-danger"></span>
                </div>
                <div class="col-lg-2">
                    <label asp-for="Endereco.Bairro" class="control-label"></label>
                    <input name="bairro" asp-for="Endereco.Bairro" class="form-control" />
                    <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
                </div>
                <div class="col-lg-2">
                    <label asp-for="Endereco.Cidade" class="control-label"></label>
                    <input name="endereco" asp-for="Endereco.Cidade" class="form-control" />
                    <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
                </div>
                <div class="col-lg-2">
                    <label asp-for="Endereco.Estado" class="control-label"></label>
                    <input name="estado" asp-for="Endereco.Estado" class="form-control" />
                    <span asp-validation-for="Endereco.Estado" class="text-danger"></span>
                </div>
                <div class="col-lg-2">
                    <label asp-for="Endereco.Pais" class="control-label"></label>
                    <input asp-for="Endereco.Pais" class="form-control" />
                    <span asp-validation-for="Endereco.Pais" class="text-danger"></span>
                </div>
                <div class="col-lg-1">
                    <label asp-for="Endereco.TipoEndereco" class="control-label"></label>
                    <input asp-for="Endereco.TipoEndereco" class="form-control" />
                    <span asp-validation-for="Endereco.TipoEndereco" class="text-danger"></span>
                </div>
            </div>
            @*FIM ENDERECO*@

            @*TELEFONE*@
            <div class="form-group row">
                <div class="col-lg-1">
                    <label asp-for="Telefone.DDI" class="control-label"></label>
                    <input asp-for="Telefone.DDI" class="form-control" />
                    <span asp-validation-for="Telefone.DDI" class="text-danger"></span>
                </div>
                <div class="col-lg-1">
                    <label asp-for="Telefone.DDD" class="control-label"></label>
                    <input asp-for="Telefone.DDD" class="form-control" />
                    <span asp-validation-for="Telefone.DDD" class="text-danger"></span>
                </div>
                <div class="col-lg-6">
                    <label asp-for="Telefone.Numero" class="control-label"></label>
                    <input asp-for="Telefone.Numero" class="form-control" />
                    <span asp-validation-for="Telefone.Numero" class="text-danger"></span>
                </div>
                <div class="col-lg-4">
                    <label asp-for="Telefone.Tipo" class="control-label"></label>
                    <input asp-for="Telefone.Tipo" class="form-control" />
                    <span asp-validation-for="Telefone.Tipo" class="text-danger"></span>
                </div>
            </div>
            @*FIM TELEFONE*@

            <div class="form-group">
                <label asp-for="Setor" class="control-label"></label>
                <input asp-for="Setor" class="form-control" />
                <span asp-validation-for="Setor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rg" class="control-label"></label>
                <input asp-for="Rg" class="form-control" />
                <span asp-validation-for="Rg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salario" class="control-label"></label>
                <input asp-for="Salario" class="form-control" />
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo" class="control-label"></label>
                <input asp-for="Cargo" class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Turno" class="control-label"></label>
                <input asp-for="Turno" class="form-control" />
                <span asp-validation-for="Turno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

