@model CineManager.ViewModels.FuncionarioViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro de Funcionário</h1>

<h4>Dados Pessoa</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-lg-6">
                    <label asp-for="Funcionario.NomeCompleto" class="control-label"></label>
                    <input asp-for="Funcionario.NomeCompleto" class="form-control" />
                    <span asp-validation-for="Funcionario.NomeCompleto" class="text-danger"></span>
                </div>
                <div class="col-lg-3">
                    <label asp-for="cpf" class="control-label"></label>
                    <input asp-for="cpf" id="txtCpf" class="form-control" />
                    <span asp-validation-for="cpf" class="text-danger"></span>
                </div>
                <div class="col-lg-3">
                    <label asp-for="Funcionario.Rg" class="control-label"></label>
                    <input asp-for="Funcionario.Rg" class="form-control" />
                    <span asp-validation-for="Funcionario.Rg" class="text-danger"></span>
                </div>
            </div>

            @*ENDERECO*@
            <h4>Endereço</h4>
            <hr>
            <div class="form-group row">
                <div class="col-lg-3">
                    <label asp-for="Funcionario.Endereco.Cep" class="control-label"></label>
                    <input asp-for="Funcionario.Endereco.Cep" id="txtCep" class="form-control" />
                    <span asp-validation-for="Funcionario.Endereco.Cep" class="text-danger"></span>
                </div>
                <div class="col-lg-2">
                    <label asp-for="Funcionario.Endereco.Bairro" class="control-label"></label>
                    <input asp-for="Funcionario.Endereco.Bairro" id="txtBairro"  class="form-control" />
                    <span asp-validation-for="Funcionario.Endereco.Bairro" class="text-danger"></span>
                </div>
                <div class="col-lg-2">
                    <label asp-for="Funcionario.Endereco.Cidade" class="control-label"></label>
                    <input asp-for="Funcionario.Endereco.Cidade" id="txtCidade" class="form-control" />
                    <span asp-validation-for="Funcionario.Endereco.Cidade" class="text-danger"></span>
                </div>
                <div class="col-lg-2">
                    <label asp-for="Funcionario.Endereco.Estado" class="control-label"></label>
                    <input asp-for="Funcionario.Endereco.Estado" id="txtEstado" class="form-control" />
                    <span asp-validation-for="Funcionario.Endereco.Estado" class="text-danger"></span>
                </div>
                <div class="col-lg-2">
                    <label asp-for="Funcionario.Endereco.Pais" class="control-label"></label>
                    <input asp-for="Funcionario.Endereco.Pais" class="form-control" />
                    <span asp-validation-for="Funcionario.Endereco.Pais" class="text-danger"></span>
                </div>
                <div class="col-lg-1">
                    <label asp-for="Funcionario.Endereco.TipoEndereco" class="control-label"></label>
                    <input asp-for="Funcionario.Endereco.TipoEndereco" class="form-control" />
                    <span asp-validation-for="Funcionario.Endereco.TipoEndereco" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row ">
                <div class="col-lg-2">
                    <label asp-for="Funcionario.Endereco.TipoLogradouro" class="control-label"></label>
                    <input asp-for="Funcionario.Endereco.TipoLogradouro" class="form-control" />
                    <span asp-validation-for="Funcionario.Endereco.TipoLogradouro" class="text-danger"></span>
                </div>
                <div class="col-lg-6">
                    <label asp-for="Funcionario.Endereco.NomeLogradouro" class="control-label"></label>
                    <input asp-for="Funcionario.Endereco.NomeLogradouro" id="txtEndereco" class="form-control" />
                    <span asp-validation-for="Funcionario.Endereco.NomeLogradouro" class="text-danger"></span>
                </div>
                <div class="col-lg-2">
                    <label asp-for="Funcionario.Endereco.Numero" class="control-label"></label>
                    <input asp-for="Funcionario.Endereco.Numero" class="form-control" />
                    <span asp-validation-for="Funcionario.Endereco.Numero" class="text-danger"></span>
                </div>
                <div class="col-lg-2">
                    <label asp-for="Funcionario.Endereco.Complemento" class="control-label"></label>
                    <input asp-for="Funcionario.Endereco.Complemento" class="form-control" />
                    <span asp-validation-for="Funcionario.Endereco.Complemento" class="text-danger"></span>
                </div>
            </div>
            @*FIM ENDERECO*@

            @*TELEFONE*@
            <h4>Contato</h4>
            <hr>
            <div class="form-group row">
                <div class="col-lg-1">
                    <label asp-for="ddd" class="control-label"></label>
                    <input asp-for="ddd" id="txtDDD" class="form-control" />
                    <span asp-validation-for="ddd" class="text-danger"></span>
                </div>
                <div class="col-lg-6">
                    <label asp-for="telefone" class="control-label"></label>
                    <input asp-for="telefone" id="txtNum" class="form-control" />
                    <span asp-validation-for="telefone" class="text-danger"></span>
                </div>
            </div>
            @*FIM TELEFONE*@

            <h4>Funcionário</h4>
            <hr>
            <div class="form-group row">
                <div class="col-lg-3">
                    <label asp-for="Funcionario.Salario" class="control-label"></label>
                    <input asp-for="Funcionario.Salario" class="form-control" />
                    <span asp-validation-for="Funcionario.Salario" class="text-danger"></span>
                </div>
                <div class="col-lg-3">
                    <label asp-for="Funcionario.Setor" class="control-label"></label>
                    <input asp-for="Funcionario.Setor" class="form-control" />
                    <span asp-validation-for="Funcionario.Setor" class="text-danger"></span>
                </div>

                <div class="col-lg-3">
                    <label asp-for="Funcionario.Cargo" class="control-label"></label>
                    <input asp-for="Funcionario.Cargo" class="form-control" />
                    <span asp-validation-for="Funcionario.Cargo" class="text-danger"></span>
                </div>

                <div class="col-lg-3">
                    <label asp-for="Funcionario.Turno" class="control-label"></label>
                    <input asp-for="Funcionario.Turno" class="form-control" />
                    <span asp-validation-for="Funcionario.Turno" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {

    <script type="text/javascript">
        $(document).ready(function ($) {
            $("#txtCep").mask('00000-000', { placeholder: "_____-___" });
            $("#txtCpf").mask('000.000.000-00', { placeholder: "___.___.___-__" });
            $("#txtNum").mask('00000-0000', { placeholder: "_____-___" });
            $("#txtDDD").mask('(00)', { placeholder: "(__)" });
        });
    </script>

    @*<script type="text/javascript">
        jQuery(function ($) {
            $("input[name='cep']").change(function () {
                var cep_code = $(this).val();
                if (cep_code.length <= 0) return;
                $.get("https://apps.widenet.com.br/busca-cep/api/cep.json", { code: cep_code }, function (result) {
                    if (result.status == 200) {
                        $("#txtCep").val(result.code);
                        $("#txtEstado").val(result.state);
                        $("txtCidade").val(result.city);
                        $("txtBairro").val(result.district);
                        $("txtEndereco").val(result.address);
                    }
                    else {
                        alert(result.message || "Houve um erro.");
                        return;
                    }
                });
            });
        });
    </script>*@

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
