@model CineManager.Models.Filme

@{
    ViewData["Title"] = "Criar";
}

<h1>Criação</h1>

<h4>Filme</h4>
<hr />
<div class="row" id="frmValidate">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <input type="hidden" asp-for="ListaGenerosJoin" id="generosIds">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <select asp-for="GeneroId" asp-items="@(new SelectList(ViewBag.ListaGeneros, "Id", "Nome"))"
                        class="form-control"></select>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>*@







            <div>
                <a class="btn btn-success" id="btnAddGeneros" onclick="GeneroModal()">Adicionar Gêneros</a>
            </div> 









            <div class="form-group">
                <label asp-for="Duracao" class="control-label"></label>
                <input asp-for="Duracao" class="form-control" />
                <span asp-validation-for="Duracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lancamento" class="control-label"></label>
                <input asp-for="Lancamento" class="form-control" />
                <span asp-validation-for="Lancamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmCartazAte" class="control-label"></label>
                <input asp-for="EmCartazAte" class="form-control" />
                <span asp-validation-for="EmCartazAte" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="TipoFilme" class="control-label"></label>
                <select asp-for="TipoFilmeId" asp-items="@(new SelectList(ViewBag.ListaTipoFilmes, "Id", "NomeTipoFilme"))"
                        class="form-control"></select>
                <span asp-validation-for="TipoFilme" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@*
    Parte mais dificiooooooooooooooo
    Preciso salvar os generos no filme
    preciso criar uma lista generosids que receberá os ids de generos selecionados na modal do filme.
    dentro dessa html aqui, precisa de um hidden field com a lista de generosids
    por ultimo, criar um JS que leia os valores checados na modal e coloque dentro do hiddenfield os selecionados
*@

<div id="divPartial"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="@Url.Content("~/js/Filmes.js")"></script>
}
