@model CineManager.Models.Filme

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Filme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ListaGenerosJoin" id="generosIdsEdit">
            <input type="hidden" asp-for="ListaGenerosJoinPreserve">
            <input type="hidden" asp-for="ListaTiposJoin" id="tiposIdsEdit">
            <input type="hidden" asp-for="ListaTiposRemove">

            <input type="hidden" asp-for="Id" id="IdFilme" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>

            <div>
                <a class="btn btn-success" id="btnEditGeneros" onclick="GeneroModalOpenEdit()">Editar Gêneros</a>
            </div>


            <div class="form-group">
                <label asp-for="Duracao" class="control-label"></label>
                <input asp-for="Duracao" class="form-control" />
                <span asp-validation-for="Duracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lancamento" class="control-label"></label>
                <input asp-for="Lancamento" class="form-control" />
                <span asp-validation-for="Lancamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmCartazAte" class="control-label"></label>
                <input asp-for="EmCartazAte" class="form-control" />
                <span asp-validation-for="EmCartazAte" class="text-danger"></span>
            </div>

            <div>
                <a class="btn btn-success" id="btnEditTipo" onclick="TipoFilmeModalOpenEdit()">Editar Gêneros</a>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a class="btn btn-secondary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>


<div id="divPartialEdit"></div>
<div id="divPartialEditTF"></div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="@Url.Content("~/js/FilmesEdit.js")"></script>
}