@model CineManager.Models.Fornecedor

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Fornecedor</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="NomeDaEmpresa" class="control-label"></label>
        <input readonly asp-for="NomeDaEmpresa" class="form-control" />
        <span asp-validation-for="NomeDaEmpresa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NomeResponsavel" class="control-label"></label>
        <input readonly asp-for="NomeResponsavel" class="form-control" />
        <span asp-validation-for="NomeResponsavel" class="text-danger"></span>
    </div>

    <div class="form-group row">
        <div class="col-lg-2">
            <label asp-for="ListaEndereco[0].TipoLogradouro" class="control-label"></label>
            <input readonly asp-for="ListaEndereco[0].TipoLogradouro" class="form-control" />
            <span asp-validation-for="ListaEndereco[0].TipoLogradouro" class="text-danger"></span>
        </div>
        <div class="col-lg-6">
            <label asp-for="ListaEndereco[0].NomeLogradouro" class="control-label"></label>
            <input readonly asp-for="ListaEndereco[0].NomeLogradouro" class="form-control" />
            <span asp-validation-for="ListaEndereco[0].NomeLogradouro" class="text-danger"></span>
        </div>
        <div class="col-lg-2">
            <label asp-for="ListaEndereco[0].Numero" class="control-label"></label>
            <input readonly asp-for="ListaEndereco[0].Numero" class="form-control" />
            <span asp-validation-for="ListaEndereco[0].Numero" class="text-danger"></span>
        </div>
        <div class="col-lg-2">
            <label asp-for="ListaEndereco[0].Complemento" class="control-label"></label>
            <input readonly asp-for="ListaEndereco[0].Complemento" class="form-control" />
            <span asp-validation-for="ListaEndereco[0].Complemento" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row pt-3">
        <div class="col-lg-3">
            <label asp-for="ListaEndereco[0].Cep" class="control-label"></label>
            <input readonly asp-for="ListaEndereco[0].Cep" class="form-control" />
            <span asp-validation-for="ListaEndereco[0].Cep" class="text-danger"></span>
        </div>
        <div class="col-lg-2">
            <label asp-for="ListaEndereco[0].Bairro" class="control-label"></label>
            <input readonly asp-for="ListaEndereco[0].Bairro" class="form-control" />
            <span asp-validation-for="ListaEndereco[0].Bairro" class="text-danger"></span>
        </div>
        <div class="col-lg-2">
            <label asp-for="ListaEndereco[0].Cidade" class="control-label"></label>
            <input readonly asp-for="ListaEndereco[0].Cidade" class="form-control" />
            <span asp-validation-for="ListaEndereco[0].Cidade" class="text-danger"></span>
        </div>
        <div class="col-lg-2">
            <label asp-for="ListaEndereco[0].Estado" class="control-label"></label>
            <input readonly asp-for="ListaEndereco[0].Estado" class="form-control" />
            <span asp-validation-for="ListaEndereco[0].Estado" class="text-danger"></span>
        </div>
        <div class="col-lg-2">
            <label asp-for="ListaEndereco[0].Pais" class="control-label"></label>
            <input readonly asp-for="ListaEndereco[0].Pais" class="form-control" />
            <span asp-validation-for="ListaEndereco[0].Pais" class="text-danger"></span>
        </div>
        <div class="col-lg-1">
            <label asp-for="ListaEndereco[0].TipoEndereco" class="control-label"></label>
            <input readonly asp-for="ListaEndereco[0].TipoEndereco" class="form-control" />
            <span asp-validation-for="ListaEndereco[0].TipoEndereco" class="text-danger"></span>
        </div>
    </div>

    @*TELEFONE*@
    <div class="form-group row">
        <div class="col-lg-1">
            <label asp-for="ListaTelefone[0].DDI" class="control-label"></label>
            <input readonly asp-for="ListaTelefone[0].DDI" class="form-control" />
            <span asp-validation-for="ListaTelefone[0].DDI" class="text-danger"></span>
        </div>
        <div class="col-lg-1">
            <label asp-for="ListaTelefone[0].DDD" class="control-label"></label>
            <input readonly asp-for="ListaTelefone[0].DDD" class="form-control" />
            <span asp-validation-for="ListaTelefone[0].DDD" class="text-danger"></span>
        </div>
        <div class="col-lg-6">
            <label asp-for="ListaTelefone[0].Numero" class="control-label"></label>
            <input readonly asp-for="ListaTelefone[0].Numero" class="form-control" />
            <span asp-validation-for="ListaTelefone[0].Numero" class="text-danger"></span>
        </div>
        <div class="col-lg-4">
            <label asp-for="ListaTelefone[0].Tipo" class="control-label"></label>
            <input readonly asp-for="ListaTelefone[0].Tipo" class="form-control" />
            <span asp-validation-for="ListaTelefone[0].Tipo" class="text-danger"></span>
        </div>
    </div>
    @*FIM TELEFONE*@

    @*EMAIL*@
    <div class="form-group row">
        <div class="col-lg-12">
            <label asp-for="ListaEmail[0].EnderecoEmail" class="control-label"></label>
            <input readonly asp-for="ListaEmail[0].EnderecoEmail" class="form-control" />
            <span asp-validation-for="ListaEmail[0].EnderecoEmail" class="text-danger"></span>
        </div>
    </div>
    @*FIM EMAIL*@
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
</div>

